{% extends 'linearbase.html' %}

{% block content %}
 <div class="login container">
  
<center>
  <h1>This is the linear page</h1> 
</center>





  <!-- <br>
  <br>
  <form action="{{ url_for('linear_prediction')}}" method="post">
    <button type="submit" class="btn btn-primary  btn-large">Prediction</button>
  </form>
    
  <br>
  <br>

  <div class="row">

    <div class="col-6">

      <form action="{{ url_for('linear_result')}}" method="post">
        <button type="submit" class="btn btn-primary  btn-large">Linear Results</button>
      </form>

      <br>
      <br>

      <form action="{{ url_for('lineartrain')}}" method="post">
        <button type="submit" class="btn btn-primary  btn-large">Train Model</button>
      </form>
      <br>
      <br>
      <form action="{{ url_for('linearparameters')}}" method="post">
        <button type="submit" class="btn btn-primary  btn-large">HyperParameters</button>
      </form>


    </div>
  </div>
  -->

  {% endblock %}